  .bar{
    background: #353b48;    
    display: block;    
    height: 20px;   
    border: 1px solid rgba(0, 0, 0, 0.3);    
    border-radius: 10px;   
    overflow: hidden;    
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); 
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);   
    width: 65%;
    margin-left: 1rem;
    text-align: right;
    
    }

  .bar span{
    height: 20px;    
    float: left;     
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 6, 1.0))             
    }

    .row{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .int{
      display: flex;
      align-items: center;
    }

    .introduction{
      text-align: center;
      background-color: #333;
      color:white
    }

    .skills{
      padding-right: 5%;
      background-color: #333;
      color:white
    }

    .languages{
      background-color: #333;
      color:white
    }

    .work{
      background-color: lightgrey;
      color: #333;
      padding-right: 3%;
    }

    .education{
      background-color:lightgrey;
      color: #333;
    }
    

    .html{
      width:75%;
      animation: html 3s;
    }

    .css{
      width: 60%;
      animation: html 3s;
    }

    .apex{
      width: 80%;
      animation: html 3s;
    }

    .c{
      width: 90%;
      animation: html 3s;
    }

    hr {
      /* border-style: none;
      border-top-style: dotted; */
      border-color: white;
      /* border-width: 5px; */
      width:100%;
    }

    .photo{
      width: 50%;
      margin: auto;
      border-radius: 100%;
    }

    

.introduction{grid-area: intro;}
.skills{grid-area: skill;}
.work{grid-area: wor;}
.education{grid-area: edu;}
.languages{grid-area: lang;}

.grid-container{

    height: 100vh;
    background-color: silver;

    display: grid;
    grid-template-areas:
    'intro wor wor'
    'intro wor wor '
    'skill wor wor '
    'skill edu edu '
    'lang edu edu ';
    /*'header header header header header header '
    'leftNav Main Main Main Main rightNav '
    'footer footer footer footer footer footer ';*/

    gap: 0.5em;
    list-style: none;
}

.grid-container > div{

    /* background: #333; */
    height: 100%;
    padding-left:5%;

    display: grid;
    place-items: left;
    /* color: white; */
    font-size: 1em;
}


/* Mobile changes */

@media only screen and (max-width: 767px){

    .grid-container{
        height: 100vh;
        background-color: silver;

        display: grid;
        grid-template-areas:
        'intro'
        'skill'
        'lang'
        'wor'
        'edu';

        gap: 0.05em;
    }
}

/* Tablet changes */

/*iPad Pro*/

@media only screen and (min-width: 834px) and (max-width: 1194px) {

    .grid-container{
        height: 100vh;
        background-color: silver;

        display: grid;
        grid-template-areas:
        'intro wor wor'
        'intro wor wor '
        'skill wor wor '
        'skill edu edu '
        'lang edu edu ';

        gap: 0.05em;
    }
}
  
